*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(158, 227, 158);
    width: 100%;
    height: 100%;
}
.page{
    overflow: hidden;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 80%;
    height: 80%;
}
#navtop{
    padding: 0 20%;
    color: white;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: rgb(49, 103, 49);
    width: 100%;
    height: 80px;
}
.element{
    gap: 20px;
    align-items: center;
    display: flex;
}
.box{
    font-size: 20px;
    color: black;
    font-weight: 700;
    background-color: #fff;
    padding: 12px;
    border-radius: 10px;
}
#bottom{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: calc(100%-80px);
    padding: 20px;
}
#bubble{
    margin: 0px 0px 7px 8px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 60px;
    height: 60px;
    background-color: rgb(49, 103, 49);
    border-radius: 50%;
    color: #fff;
}

